In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()
import re
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

········

Educ_H_x --> Education High Level (5-8) population percentage
AVG_Income_x --> Income in Purchasing power standard (PPS)
R_Mortality_x --> Road accidents mortality by 100,000 population

In [2]:
# Importing, from using SQL queries
connection_string = 'mysql+pymysql://root:' + password + '@localhost/mid_porject'
engine = create_engine(connection_string)

# info about Population by educational attainment level(%) (From 15 to 64 years old)
# https://ec.europa.eu/eurostat/databrowser/view/edat_lfse_03/default/table?lang=en
five_to_eight =  '''
Select Time, GEO, ISCED11, Value
From edat e
Where e.ISCED11 = 'Tertiary education (levels 5-8)'; 
'''
three_to_four = '''
Select Time, GEO, ISCED11, Value
From edat e
Where e.ISCED11 = "Upper secondary and post-secondary non-tertiary education (levels 3 and 4)";
'''
zero_to_two = '''
Select Time, GEO, ISCED11, Value
From edat e
WHere e.ISCED11 = "Less than primary, primary and lower secondary education (levels 0-2)";
'''
education_5_8 = pd.read_sql_query(five_to_eight, engine)
education_3_4 = pd.read_sql_query(three_to_four, engine)
education_0_2 = pd.read_sql_query(zero_to_two, engine)

In [3]:
# more data about car mortality, but about all the world (https://data.worldbank.org/indicator/SH.STA.TRAF.P5)
mortality_world = '''
select *
from mortality;
'''
pop_world = pd.read_sql_query(mortality_world, engine)

# frequency of alcohol consumption 
alcohol = '''
select geo, time_period, obs_value
from alcohol_consumption
where frequenc = 'DAY';
'''
alc_consump = pd.read_sql_query(alcohol, engine)

# passengers car by age (https://ec.europa.eu/eurostat/databrowser/view/ROAD_EQS_CARAGE/default/table?lang=en&category=road.road_eqs)
zero_to_two_years = """
select age, geo,time_period, obs_value
from road_garage_two r1;
"""
two_to_five_years = """
select age, geo,time_period, obs_value
from road_garage_;
"""
five_to_10_years = """
select age, geo,time_period, obs_value
from road_e_garage;
"""
ten_to_20_years = """
select age, geo,time_period, obs_value
from road_eqs_carage_;
"""
more_20 = """
select age, geo,time_period, obs_value
from road_eq;
"""
zero_to_two_years = pd.read_sql_query(zero_to_two_years, engine)
two_to_five_years = pd.read_sql_query(two_to_five_years, engine)
five_to_10_years = pd.read_sql_query(five_to_10_years, engine)
ten_to_20_years = pd.read_sql_query(ten_to_20_years, engine)
more_20_years = pd.read_sql_query(more_20, engine)

# income
income = """
select time, geo, hhtyp, unit, value
From income;
"""
income = pd.read_sql_query(income, engine)

In [4]:
# passengers car by age (https://ec.europa.eu/eurostat/databrowser/view/ROAD_EQS_CARAGE/default/table?lang=en&category=road.road_eqs)
zero_to_two_years = """
select age, geo,time_period, obs_value
from road_garage_two r1;
"""
two_to_five_years = """
select age, geo,time_period, obs_value
from road_garage_;
"""
five_to_10_years = """
select age, geo,time_period, obs_value
from road_e_garage;
"""
ten_to_20_years = """
select age, geo,time_period, obs_value
from road_eqs_carage_;
"""
more_20 = """
select age, geo,time_period, obs_value
from road_eq;
"""
zero_to_two_years = pd.read_sql_query(zero_to_two_years, engine)
two_to_five_years = pd.read_sql_query(two_to_five_years, engine)
five_to_10_years = pd.read_sql_query(five_to_10_years, engine)
ten_to_20_years = pd.read_sql_query(ten_to_20_years, engine)
more_20_years = pd.read_sql_query(more_20, engine)

In [5]:
# from tsv files
with open("road_eqr_carmot.tsv", 'r', encoding = 'ISO-8859-1') as myfile:  
    with open("road_eqr_carmot_1.csv", 'w', encoding = 'ISO-8859-1') as csv_file:
        for line in myfile:
            fileContent = re.sub("\t", ",", line)
            csv_file.write(fileContent)

In [6]:
# file New registrations of passenger cars by type of motor energy and engine size
new_reg_cars = pd.read_csv('road_eqr_carmot_1.csv', encoding = 'ISO-8859-1')
new_reg_cars = new_reg_cars[new_reg_cars['engine'].str.contains('TOTAL')]
new_reg_cars = new_reg_cars[new_reg_cars['mot_nrg'].str.contains('TOTAL')]
new_reg_cars = new_reg_cars.drop(['unit', 'mot_nrg', 'engine', '2020 ', '1990 ', '1989 ', '1988 ', '1987 ', '1986 ','1985 ', '1984 ', '1983 ', '1982 ', '1981 ', '1980 ', '1979 ', '1975 ','1970 '], axis = 1)
new_reg_cars.rename(columns = {'geo\\time':'GEO'}, inplace = True)

In [7]:
# xls & xlsx files
# Blood Alchool Content limits (https://www.pordata.pt/en/Europe/Blood+alcohol+concentration+(BAC)+limit-3067)
alcohol_limits = pd.read_excel('blood_alcohol.xls')

# AVG victims per road accident (https://www.pordata.pt/en/Europe/Average+number+of+victims+per+road+accidents-3079)
avg_victims_per_accident = pd.read_excel('avg_number_victims_per_road_accident.xlsx')

# people kiiled in road accidents (https://www.pordata.pt/en/Europe/People+killed+in+road+accidents-3588)
people_killed = pd.read_excel('people_killed_road_accidents.xlsx')

# number of light passenger cars per thousand inhabitants (https://ec.europa.eu/eurostat/databrowser/view/ROAD_EQS_CARHAB/default/table?lang=en&category=road.road_eqs)                      
light_p_cars = pd.read_excel('n_light_passenger_cars_per_k_inhabitants.xls')

# number of injured people in car accidents  (https://www.pordata.pt/en/Europe/Fatalities+and+injured+in+road+accidents-3045)                      
injured = pd.read_excel('injured.xls')

# number of fatalities in car accidents (https://www.pordata.pt/en/Europe/Fatalities+and+injured+in+road+accidents-3045)
fatalaties = pd.read_excel('fatalities.xls')

# number of passenger cars registered (https://www.pordata.pt/en/Europe/Registered+vehicles+by+type-3070)
motorcycles = pd.read_excel('motorcybles registered.xlsx')


# number of road accidents (https://www.pordata.pt/en/Europe/Road+accidents-3043)
road_accidents = pd.read_excel('road accidents.xls')

# speed limits in motorways (https://www.pordata.pt/en/Europe/Speed+limits+in+urban+roads+and+motorways-3066)          
motorways_speed_limits = pd.read_excel('speed_motorways.xls')

# speed limits in urban roads (https://www.pordata.pt/en/Europe/Speed+limits+in+urban+roads+and+motorways-3066)           
urban_speed_limits = pd.read_excel('speed_urban_roads.xlsx')

# length of motorways (https://www.pordata.pt/en/Europe/Length+of+motorways-3068)           
length_of_motorways = pd.read_excel('Length_of_motorways.xls')

# minimum age to drive (https://www.rhinocarhire.com/Drive-Smart-Blog/Minimum-Driving-Age-Country.aspx#minagecountry5)           
ages = pd.read_excel('minimum_age.xlsx')

# gdp (https://www.pordata.pt/en/Europe/Gross+Domestic+Product+(Euro)-1786)           
gdp = pd.read_excel('gdp.xlsx')

In [8]:
# from csv
# happyness index (https://worldhappiness.report/archive/)
happy = pd.read_csv('happyindex.csv', delimiter = ';')
alc_consump = pd.read_csv('hlth_ehis_al1e__custom_3054348_page_linear.csv')

In [9]:
education_5_8['GEO'].unique()
#countries_list = ['Belgium', 'Denmark', 'Germany (until 1990 former territory of the FRG)', 'Ireland', 'Greece', 'Spain', 'France', 'Italy', 'Luxembourg', 'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania', 'Finland', 'Sweden', 'Iceland', 'Norway', 'Switzerland']
#len(countries_list)

array(['Belgium', 'Bulgaria', 'Czechia', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'Iceland', 'Norway',
       'Switzerland', 'Montenegro', 'North Macedonia', 'Serbia', 'Turkey'],
      dtype=object)

# cleaning education

In [10]:
education_5_8 =  education_5_8[(education_5_8['GEO'] == 'Belgium') | (education_5_8['GEO'] == 'Denmark') | (education_5_8['GEO'] == 'Germany (until 1990 former territory of the FRG)') | (education_5_8['GEO'] == 'Ireland')| (education_5_8['GEO'] == 'Greece') | (education_5_8['GEO'] == 'Spain') | (education_5_8['GEO'] == 'France') | (education_5_8['GEO'] == 'Italy') | (education_5_8['GEO'] == 'Luxembourg') | (education_5_8['GEO'] == 'Netherlands') | (education_5_8['GEO'] == 'Austria') | (education_5_8['GEO'] == 'Poland') | (education_5_8['GEO'] == 'Portugal') | (education_5_8['GEO'] == 'Romania')| (education_5_8['GEO'] == 'Finland')| (education_5_8['GEO'] == 'Sweden')| (education_5_8['GEO'] == 'Iceland')| (education_5_8['GEO'] == 'Norway')| (education_5_8['GEO'] == 'Switzerland')]    
education_3_4 =  education_3_4[(education_3_4['GEO'] == 'Belgium') | (education_3_4['GEO'] == 'Denmark') | (education_3_4['GEO'] == 'Germany (until 1990 former territory of the FRG)') | (education_3_4['GEO'] == 'Ireland')| (education_3_4['GEO'] == 'Greece') | (education_3_4['GEO'] == 'Spain') | (education_3_4['GEO'] == 'France') | (education_3_4['GEO'] == 'Italy') | (education_3_4['GEO'] == 'Luxembourg') | (education_3_4['GEO'] == 'Netherlands') | (education_3_4['GEO'] == 'Austria') | (education_3_4['GEO'] == 'Poland') | (education_3_4['GEO'] == 'Portugal') | (education_3_4['GEO'] == 'Romania')| (education_3_4['GEO'] == 'Finland')| (education_3_4['GEO'] == 'Sweden')| (education_3_4['GEO'] == 'Iceland')| (education_3_4['GEO'] == 'Norway')| (education_3_4['GEO'] == 'Switzerland')]    
education_0_2 =  education_0_2[(education_0_2['GEO'] == 'Belgium') | (education_0_2['GEO'] == 'Denmark') | (education_0_2['GEO'] == 'Germany (until 1990 former territory of the FRG)') | (education_0_2['GEO'] == 'Ireland')| (education_0_2['GEO'] == 'Greece') | (education_0_2['GEO'] == 'Spain') | (education_0_2['GEO'] == 'France') | (education_0_2['GEO'] == 'Italy') | (education_0_2['GEO'] == 'Luxembourg') | (education_0_2['GEO'] == 'Netherlands') | (education_0_2['GEO'] == 'Austria') | (education_0_2['GEO'] == 'Poland') | (education_0_2['GEO'] == 'Portugal') | (education_0_2['GEO'] == 'Romania')| (education_0_2['GEO'] == 'Finland')| (education_0_2['GEO'] == 'Sweden')| (education_0_2['GEO'] == 'Iceland')| (education_0_2['GEO'] == 'Norway')| (education_0_2['GEO'] == 'Switzerland')]

In [11]:
a = education_5_8['ISCED11'] == education_0_2['ISCED11']
a.unique()

array([False])

In [12]:
education = pd.DataFrame()
education['Year'] = education_5_8['Time']
education['Country'] = education_5_8['GEO']
education['Levels 0-2'] = education_0_2['Value']
education['Levels 3-4'] = education_3_4['Value']
education['Levels 5-8'] = education_5_8['Value']

In [13]:
education['Country'] = education['Country'].replace({'Germany (until 1990 former territory of the FRG)':'Germany'})

In [14]:
education = education.drop(columns= ['Levels 0-2','Levels 3-4'], axis = 1)

In [15]:
education

      Year      Country Levels 5-8
0     1992      Belgium       18.4
3     1992      Denmark       15.4
4     1992      Germany       17.9
6     1992      Ireland       14.7
7     1992       Greece       10.5
...    ...          ...        ...
1011  2021      Finland       35.5
1012  2021       Sweden       39.7
1013  2021      Iceland       35.8
1014  2021       Norway       40.7
1015  2021  Switzerland       39.2

[570 rows x 3 columns]

In [16]:
two = education[education['Year'] == 2000]
two = two.sort_values('Country').reset_index(drop=True)
two_1 = education[education['Year'] == 2001]
two_1 = two_1.sort_values('Country').reset_index(drop=True)
two_2 = education[education['Year'] == 2002]
two_2 = two_2.sort_values('Country').reset_index(drop=True)
two_3 = education[education['Year'] == 2003]
two_3 = two_3.sort_values('Country').reset_index(drop=True)
two_4 = education[education['Year'] == 2004]
two_4 = two_4.sort_values('Country').reset_index(drop=True)
two_5 = education[education['Year'] == 2005]
two_5 = two_5.sort_values('Country').reset_index(drop=True)
two_6 = education[education['Year'] == 2006]
two_6 = two_6.sort_values('Country').reset_index(drop=True)
two_7 = education[education['Year'] == 2007]
two_7 = two_7.sort_values('Country').reset_index(drop=True)
two_8 = education[education['Year'] == 2008]
two_8 = two_8.sort_values('Country').reset_index(drop=True)
two_9 = education[education['Year'] == 2009]
two_9 = two_9.sort_values('Country').reset_index(drop=True)
two_10 = education[education['Year'] == 2010]
two_10 = two_10.sort_values('Country').reset_index(drop=True)
two_11 = education[education['Year'] == 2011]
two_11 = two_11.sort_values('Country').reset_index(drop=True)
two_12 = education[education['Year'] == 2012]
two_12 = two_12.sort_values('Country').reset_index(drop=True)
two_13 = education[education['Year'] == 2013]
two_13 = two_13.sort_values('Country').reset_index(drop=True)
two_14 = education[education['Year'] == 2014]
two_14 = two_14.sort_values('Country').reset_index(drop=True)
two_15 = education[education['Year'] == 2015]
two_15 = two_15.sort_values('Country').reset_index(drop=True)
two_16 = education[education['Year'] == 2016]
two_16 = two_16.sort_values('Country').reset_index(drop=True)
two_17 = education[education['Year'] == 2017]
two_17 = two_17.sort_values('Country').reset_index(drop=True)
two_18 = education[education['Year'] == 2018]
two_18 = two_18.sort_values('Country').reset_index(drop=True)
two_19 = education[education['Year'] == 2019]
two_19 = two_19.sort_values('Country').reset_index(drop=True)

In [17]:
Data = pd.DataFrame()

In [18]:
Data['Country'] = ['Austria','Belgium','Denmark','Finland','France','Germany','Greece','Iceland','Ireland','Italy','Luxembourg','Netherlands','Norway','Poland','Portugal','Romania','Spain','Sweden','Switzerland']

In [19]:
Data['Educ_H_2000'] = two['Levels 5-8']
Data['Educ_H_2001'] = two_1['Levels 5-8']
Data['Educ_H_2002'] = two_2['Levels 5-8']
Data['Educ_H_2003'] = two_3['Levels 5-8']
Data['Educ_H_2004'] = two_4['Levels 5-8']
Data['Educ_H_2005'] = two_5['Levels 5-8']
Data['Educ_H_2006'] = two_6['Levels 5-8']
Data['Educ_H_2007'] = two_7['Levels 5-8']
Data['Educ_H_2008'] = two_8['Levels 5-8']
Data['Educ_H_2009'] = two_9['Levels 5-8']
Data['Educ_H_2010'] = two_10['Levels 5-8']
Data['Educ_H_2011'] = two_11['Levels 5-8']
Data['Educ_H_2012'] = two_12['Levels 5-8']
Data['Educ_H_2013'] = two_13['Levels 5-8']
Data['Educ_H_2014'] = two_14['Levels 5-8']
Data['Educ_H_2015'] = two_15['Levels 5-8']
Data['Educ_H_2016'] = two_16['Levels 5-8']
Data['Educ_H_2017'] = two_17['Levels 5-8']
Data['Educ_H_2018'] = two_18['Levels 5-8']
Data['Educ_H_2019'] = two_19['Levels 5-8']

In [20]:
Data

,Country,Educ_H_2000,Educ_H_2001,Educ_H_2002,Educ_H_2003,Educ_H_2004,Educ_H_2005,Educ_H_2006,Educ_H_2007,Educ_H_2008,...,Educ_H_2010,Educ_H_2011,Educ_H_2012,Educ_H_2013,Educ_H_2014,Educ_H_2015,Educ_H_2016,Educ_H_2017,Educ_H_2018,Educ_H_2019
0,Austria,:,:,:,:,15.4,15.0,14.7,14.6,15.0,...,16.2,16.3,16.9,17.7,27.4,28.1,28.9,29.7,30.1,31.1
1,Belgium,23.8,24.4,24.9,25.6,26.8,27.2,27.9,28.1,28.4,...,30.7,30.4,31.3,31.5,32.6,32.7,33.2,35.6,36.0,36.0
2,Denmark,22.0,24.1,25.1,27.2,27.9,28.5,29.3,26.0,26.0,...,27.3,27.8,28.5,28.9,29.4,30.2,31.1,32.2,32.6,33.4
3,Finland,27.1,27.0,26.9,27.5,28.3,28.6,29.0,30.0,30.2,...,31.6,32.5,32.8,33.6,34.7,35.5,35.9,36.4,37.3,38.5
4,France,19.8,20.7,21.5,22.2,22.7,23.4,24.0,24.4,24.8,...,26.2,26.7,27.7,28.9,29.8,30.5,30.9,31.4,32.8,33.8
5,Germany,21.4,20.0,18.9,20.3,21.1,20.6,20.1,20.4,21.4,...,22.7,24.3,24.9,25.2,23.2,23.8,24.4,24.8,25.2,26.0
6,Greece,14.1,14.5,15.2,15.7,17.5,17.6,18.7,19.1,19.8,...,20.9,22.2,22.9,24.0,24.6,25.4,26.4,27.2,27.7,27.8
7,Iceland,19.0,19.1,20.6,23.4,23.9,24.9,24.0,24.8,25.5,...,26.3,27.4,28.5,29.3,30.2,31.7,33.4,35.3,36.5,37.7
8,Ireland,19.2,20.9,22.0,23.5,24.9,26.1,28.1,30.3,31.7,...,33.9,34.4,35.7,37.3,38.0,39.0,39.5,40.4,40.5,40.7
9,Italy,8.1,8.3,8.6,9.1,10.0,10.8,11.4,12.0,12.7,...,13.0,13.2,13.9,14.4,15.0,15.5,15.7,16.5,17.1,17.4
10,Luxembourg,16.7,16.0,16.2,12.6,20.8,23.0,20.5,22.7,23.7,...,30.3,31.7,33.4,35.2,39.6,35.2,36.4,34.1,38.3,41.0
11,Netherlands,20.6,20.8,21.6,23.8,25.7,24.5,24.8,25.5,26.3,...,27.7,28.0,28.6,29.3,29.7,30.5,31.0,32.1,33.0,34.8
12,Norway,28.6,30.7,30.2,27.5,28.2,28.4,28.2,29.2,30.2,...,31.4,32.1,33.0,34.2,36.1,36.7,36.8,36.8,37.5,37.7
13,Poland,9.2,9.6,10.2,11.6,12.8,13.9,14.9,15.7,16.5,...,19.4,20.3,21.5,22.6,23.8,24.4,25.2,26.3,27.2,28.2
14,Portugal,7.5,7.9,8.1,9.4,10.8,11.1,11.7,12.0,12.6,...,13.9,15.5,16.7,17.6,19.7,20.7,21.5,21.7,22.5,23.8
15,Romania,7.5,7.9,8.0,7.9,8.7,9.1,9.6,9.9,10.7,...,11.9,12.9,13.5,13.8,14.2,15.0,15.1,15.3,15.5,16.0
16,Spain,21.2,22.0,23.0,23.6,24.5,26.1,26.4,26.8,27.0,...,28.4,29.3,30.0,30.9,31.7,32.1,32.7,33.2,34.0,35.1
17,Sweden,26.8,22.5,23.2,23.9,24.7,25.9,25.9,26.4,26.9,...,28.2,29.1,30.1,31.4,32.8,34.0,35.3,36.0,37.1,37.8
18,Switzerland,20.5,21.4,21.4,22.7,23.7,24.2,25.2,26.5,28.5,...,28.8,28.9,30.1,31.9,32.9,34.2,35.4,36.8,37.7,38.6

# First 3 datasets cleaned and merged
# Now mortality

In [21]:
pop_world =  pop_world[(pop_world['Country Code'] == 'BEL') | (pop_world['Country Code'] == 'DNK') | (pop_world['Country Code'] == 'DEU') | (pop_world['Country Code'] == 'IRL')| (pop_world['Country Code'] == 'GRC') | (pop_world['Country Code'] == 'ESP') | (pop_world['Country Code'] == 'FRA') | (pop_world['Country Code'] == 'ITA') | (pop_world['Country Code'] == 'LUX') | (pop_world['Country Code'] == 'NLD') | (pop_world['Country Code'] == 'AUT') | (pop_world['Country Code'] == 'POL') | (pop_world['Country Code'] == 'PRT') | (pop_world['Country Code'] == 'ROU')| (pop_world['Country Code'] == 'FIN')| (pop_world['Country Code'] == 'SWE')| (pop_world['Country Code'] == 'ISL')| (pop_world['Country Code'] == 'NOR')| (pop_world['Country Code'] == 'CHE')] 
pop_world = pop_world.drop(['Country Code'], axis = 1)

In [22]:
pop_world = pop_world.sort_values('Country').reset_index(drop=True)
pop_world

,Country,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,...,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Austria,12.5,12.2,12.1,11.7,11,9.6,9.1,8.6,8.4,...,6.8,6.4,6.4,5.5,5.1,5.7,5.2,4.9,4.8,4.9
1,Belgium,16.7,15.8,13.9,12,11.4,10.9,10.5,10.8,9.4,...,8.1,8.2,7.2,7,6.7,6.7,5.8,5.5,5.4,5.8
2,Denmark,9.6,8.6,8.9,8.3,7,6.5,5.8,7.7,7.6,...,5,4.1,3.1,3.5,3.5,3.5,4,3.3,3.2,3.7
3,Finland,8.1,8.9,8.5,7.9,7.6,7.4,6.6,7.5,6.7,...,5.2,5.6,4.9,4.9,4.4,5.1,4.7,4.4,4.5,3.9
4,France,13.4,13.4,12.5,10.1,8.9,9,7.9,7.7,7.1,...,6.5,6.5,5.9,5.3,5.4,5.5,5.5,5.5,5.2,5.1
5,Germany,9.6,8.9,8.8,8.4,7.5,6.9,6.6,6.4,5.8,...,4.8,5.3,4.7,4.4,4.3,4.4,4,4,4.1,3.8
6,Greece,19.9,18.2,16.4,15.8,17.5,16.6,16,16.1,15.5,...,13.1,12.3,11.3,10.3,9.3,9.3,9.7,8.6,8.3,8.3
7,Iceland,11.8,9.6,10.5,8.4,8.3,6.8,10.8,4.9,4.5,...,2.6,4.3,3.4,4.9,1.8,4.8,6.6,5.5,7,2
8,Ireland,11.4,11.1,10,8.7,9.6,9.9,8.9,8,6.5,...,4.8,4.2,3.6,4.2,4.3,3.6,4.1,3.4,3,3.1
9,Italy,13.9,13.9,13.3,11.8,10.9,10.3,10.3,9.7,8.9,...,7.3,7.2,6.5,5.8,5.8,5.9,5.5,5.7,5.6,5.3
10,Luxembourg,17.9,16.4,14.4,12.3,11.5,10.5,9.4,9.7,7.4,...,6.5,6.5,6.4,8.3,6.5,6.5,6.2,4.8,6.7,4.1
11,Netherlands,7.5,7,6.8,6.9,5.6,5.1,5.1,4.9,4.7,...,4,4.1,4,3.5,3.5,3.8,3.8,3.7,4.1,4
12,Norway,8,6.6,7.4,6.7,6.3,5.3,5.3,5.1,5.5,...,4.4,3.5,3,3.8,3,2.6,2.7,2.1,2.1,2.1
13,Poland,18.6,16.6,17.2,16.5,16.9,16,15.1,16.4,16.6,...,12,12.8,11.1,10.8,10.4,9.3,9.7,9.1,9.2,9.4
14,Portugal,19.4,21.5,21.2,19.4,19.1,17.7,16.1,13.1,12.1,...,11.2,10.8,8,7.9,8.5,8.3,7.4,8,9,8.2
15,Romania,12.4,13,11.6,11.8,12.3,13.3,13.2,14.4,15.5,...,12,10.4,10.4,9.7,10,10,10.3,10.6,10.2,10.3
16,Spain,15.4,14.4,13.6,13.4,11.7,10.6,9.6,8.7,6.9,...,5.4,4.7,4.3,4,4.2,4.2,4.1,4.2,4.1,3.9
17,Sweden,6.7,7,6.3,6,5.6,5.3,5.3,5.3,4.8,...,3,3.4,3.5,3.1,3.2,3.2,3.1,2.7,3.6,3.1
18,Switzerland,8.5,7.8,7.3,7.7,7.2,5.7,5.1,5.3,4.8,...,4.3,4.2,4.4,3.4,3.1,3.1,2.7,2.8,2.8,2.2

In [23]:
Data['R_Mortality_2000'] = pop_world['y2000']
Data['R_Mortality_2001'] = pop_world['y2001']
Data['R_Mortality_2002'] = pop_world['y2002']
Data['R_Mortality_2003'] = pop_world['y2003']
Data['R_Mortality_2004'] = pop_world['y2004']
Data['R_Mortality_2005'] = pop_world['y2005']
Data['R_Mortality_2006'] = pop_world['y2006']
Data['R_Mortality_2007'] = pop_world['y2007']
Data['R_Mortality_2008'] = pop_world['y2008']
Data['R_Mortality_2009'] = pop_world['y2009']
Data['R_Mortality_2010'] = pop_world['y2010']
Data['R_Mortality_2011'] = pop_world['y2011']
Data['R_Mortality_2012'] = pop_world['y2012']
Data['R_Mortality_2013'] = pop_world['y2013']
Data['R_Mortality_2014'] = pop_world['y2014']
Data['R_Mortality_2015'] = pop_world['y2015']
Data['R_Mortality_2016'] = pop_world['y2016']
Data['R_Mortality_2017'] = pop_world['y2017']
Data['R_Mortality_2018'] = pop_world['y2018']
Data['R_Mortality_2019'] = pop_world['y2019']

Data['AVG_Income_2000'] = two['Levels 5-8']
Data['AVG_Income_2001'] = two_1['Levels 5-8']
Data['AVG_Income_2002'] = two_2['Levels 5-8']
Data['AVG_Income_2003'] = two_3['Levels 5-8']
Data['AVG_Income_2004'] = two_4['Levels 5-8']
Data['AVG_Income_2005'] = two_5['Levels 5-8']
Data['AVG_Income_2006'] = two_6['Levels 5-8']
Data['AVG_Income_2007'] = two_7['Levels 5-8']
Data['AVG_Income_2008'] = two_8['Levels 5-8']
Data['AVG_Income_2009'] = two_9['Levels 5-8']
Data['AVG_Income_2010'] = two_10['Levels 5-8']
Data['AVG_Income_2011'] = two_11['Levels 5-8']
Data['AVG_Income_2012'] = two_12['Levels 5-8']
Data['AVG_Income_2013'] = two_13['Levels 5-8']
Data['AVG_Income_2014'] = two_14['Levels 5-8']
Data['AVG_Income_2015'] = two_15['Levels 5-8']
Data['AVG_Income_2016'] = two_16['Levels 5-8']
Data['AVG_Income_2017'] = two_17['Levels 5-8']
Data['AVG_Income_2018'] = two_18['Levels 5-8']
Data['AVG_Income_2019'] = two_19['Levels 5-8']

In [24]:
income['geo'] = income['geo'].replace({'Germany (until 1990 former territory of the FRG)':'Germany'})
income =  income[(income['geo'] == 'Belgium') | (income['geo'] == 'Denmark') | (income['geo'] == 'Germany') | (income['geo'] == 'Ireland')| (income['geo'] == 'Greece') | (income['geo'] == 'Spain') | (income['geo'] == 'France') | (income['geo'] == 'Italy') | (income['geo'] == 'Luxembourg') | (income['geo'] == 'Netherlands') | (income['geo'] == 'Austria') | (income['geo'] == 'Poland') | (income['geo'] == 'Portugal') | (income['geo'] == 'Romania')| (income['geo'] == 'Finland')| (income['geo'] == 'Sweden')| (income['geo'] == 'Iceland')| (income['geo'] == 'Norway')| (income['geo'] == 'Switzerland')]
income = income[(income['unit'] == 'Purchasing power standard (PPS)')]
income = income.sort_values('geo').reset_index(drop=True)
two = income[income['time'] == 2000]
two = two.sort_values('geo').reset_index(drop=True)
two_1 = income[income['time'] == 2001]
two_1 = two_1.sort_values('geo').reset_index(drop=True)
two_2 = income[income['time'] == 2002]
two_2 = two_2.sort_values('geo').reset_index(drop=True)
two_3 = income[income['time'] == 2003]
two_3 = two_3.sort_values('geo').reset_index(drop=True)
two_4 = income[income['time'] == 2004]
two_4 = two_4.sort_values('geo').reset_index(drop=True)
two_5 = income[income['time'] == 2005]
two_5 = two_5.sort_values('geo').reset_index(drop=True)
two_6 = income[income['time'] == 2006]
two_6 = two_6.sort_values('geo').reset_index(drop=True)
two_7 = income[income['time'] == 2007]
two_7 = two_7.sort_values('geo').reset_index(drop=True)
two_8 = income[income['time'] == 2008]
two_8 = two_8.sort_values('geo').reset_index(drop=True)
two_9 = income[income['time'] == 2009]
two_9 = two_9.sort_values('geo').reset_index(drop=True)
two_10 = income[income['time'] == 2010]
two_10 = two_10.sort_values('geo').reset_index(drop=True)
two_11 = income[income['time'] == 2011]
two_11 = two_11.sort_values('geo').reset_index(drop=True)
two_12 = income[income['time'] == 2012]
two_12 = two_12.sort_values('geo').reset_index(drop=True)
two_13 = income[income['time'] == 2013]
two_13 = two_13.sort_values('geo').reset_index(drop=True)
two_14 = income[income['time'] == 2014]
two_14 = two_14.sort_values('geo').reset_index(drop=True)
two_15 = income[income['time'] == 2015]
two_15 = two_15.sort_values('geo').reset_index(drop=True)
two_16 = income[income['time'] == 2016]
two_16 = two_16.sort_values('geo').reset_index(drop=True)
two_17 = income[income['time'] == 2017]
two_17 = two_17.sort_values('geo').reset_index(drop=True)
two_18 = income[income['time'] == 2018]
two_18 = two_18.sort_values('geo').reset_index(drop=True)
two_19 = income[income['time'] == 2019]
two_19 = two_19.sort_values('geo').reset_index(drop=True)

In [25]:
two_1

    time          geo  hhtyp                             unit   value
0   2001      Austria  Total  Purchasing power standard (PPS)  17,146
1   2001      Belgium  Total  Purchasing power standard (PPS)  17,785
2   2001      Denmark  Total  Purchasing power standard (PPS)       :
3   2001      Finland  Total  Purchasing power standard (PPS)  13,970
4   2001       France  Total  Purchasing power standard (PPS)  16,189
5   2001      Germany  Total  Purchasing power standard (PPS)  17,812
6   2001       Greece  Total  Purchasing power standard (PPS)  10,546
7   2001      Iceland  Total  Purchasing power standard (PPS)       :
8   2001      Ireland  Total  Purchasing power standard (PPS)  14,366
9   2001        Italy  Total  Purchasing power standard (PPS)  12,779
10  2001   Luxembourg  Total  Purchasing power standard (PPS)  27,336
11  2001  Netherlands  Total  Purchasing power standard (PPS)  15,549
12  2001       Norway  Total  Purchasing power standard (PPS)       :
13  2001       Poland  Total  Purchasing power standard (PPS)       :
14  2001     Portugal  Total  Purchasing power standard (PPS)  10,565
15  2001      Romania  Total  Purchasing power standard (PPS)       :
16  2001        Spain  Total  Purchasing power standard (PPS)  12,776
17  2001       Sweden  Total  Purchasing power standard (PPS)       :
18  2001  Switzerland  Total  Purchasing power standard (PPS)       :

In [26]:
Data['AVG_Income_2000'] = two['value']
Data['AVG_Income_2001'] = two_1['value']
Data['AVG_Income_2002'] = two_2['value']
Data['AVG_Income_2003'] = two_3['value']
Data['AVG_Income_2004'] = two_4['value']
Data['AVG_Income_2005'] = two_5['value']
Data['AVG_Income_2006'] = two_6['value']
Data['AVG_Income_2007'] = two_7['value']
Data['AVG_Income_2008'] = two_8['value']
Data['AVG_Income_2009'] = two_9['value']
Data['AVG_Income_2010'] = two_10['value']
Data['AVG_Income_2011'] = two_11['value']
Data['AVG_Income_2012'] = two_12['value']
Data['AVG_Income_2013'] = two_13['value']
Data['AVG_Income_2014'] = two_14['value']
Data['AVG_Income_2015'] = two_15['value']
Data['AVG_Income_2016'] = two_16['value']
Data['AVG_Income_2017'] = two_17['value']
Data['AVG_Income_2018'] = two_18['value']
Data['AVG_Income_2019'] = two_19['value']

In [27]:
alc_consump['geo'].unique()

array(['AT', 'BE', 'DE', 'DK', 'EL', 'ES', 'FI', 'FR', 'IE', 'IS', 'IT',
       'LU', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE'], dtype=object)

In [28]:
alc_consump =  alc_consump[(alc_consump['geo'] == 'BE') | (alc_consump['geo'] == 'DK') | (alc_consump['geo'] == 'DE') | (alc_consump['geo'] == 'IE')| (alc_consump['geo'] == 'EL') | (alc_consump['geo'] == 'ES') | (alc_consump['geo'] == 'FR') | (alc_consump['geo'] == 'IT') | (alc_consump['geo'] == 'LU') | (alc_consump['geo'] == 'NL') | (alc_consump['geo'] == 'AT') | (alc_consump['geo'] == 'PL') | (alc_consump['geo'] == 'PT') | (alc_consump['geo'] == 'RO')| (alc_consump['geo'] == 'FI')| (alc_consump['geo'] == 'SE')| (alc_consump['geo'] == 'IS')| (alc_consump['geo'] == 'NO')| (alc_consump['geo'] == 'Switzerland')]

In [29]:
alc_consump
alc_consump['geo'] = alc_consump['geo'].replace({'AT':'Austria','BE':'Belgium','NO':'Norway','RO':'Romania','EL':'Greece','LU':'Luxembourg','NL':'Netherlands','FI':'Finland','PT':'Portugal','IE':'Ireland','DE':'Germany','DK':'Denmark','ES':'Spain','FR':'France','IT':'Italy','PL':'Poland','SE':'Sweden','IS':'Iceland'})
alc_consump_2014 =  alc_consump[(alc_consump['TIME_PERIOD'] == 2014)]
                                
alc_consump_2019 =  alc_consump[(alc_consump['TIME_PERIOD'] == 2019)]

In [30]:
alc_consump_2014 = alc_consump_2014.drop(['DATAFLOW','LAST UPDATE','freq','unit','frequenc','isced11','sex','age', 'OBS_FLAG'],axis = 1)
alc_consump_2014

           geo  TIME_PERIOD  OBS_VALUE
0      Austria         2014        6.2
2      Belgium         2014       14.2
4      Germany         2014        9.3
6      Denmark         2014       11.3
8       Greece         2014        6.9
10       Spain         2014       15.3
12     Finland         2014        2.7
14     Ireland         2014        2.0
16     Iceland         2014        0.6
18       Italy         2014       14.1
20  Luxembourg         2014        9.6
23      Norway         2014        2.1
25      Poland         2014        1.8
27    Portugal         2014       24.2
29     Romania         2014        3.8
31      Sweden         2014        2.7

In [31]:
alc_consump_2019 = alc_consump_2019.drop(['DATAFLOW','LAST UPDATE','freq','unit','frequenc','isced11','sex','age', 'OBS_FLAG'],axis = 1)

In [32]:
alc_consump_2014 = alc_consump_2014.reset_index(drop=True)
alc_consump_2019 = alc_consump_2019.reset_index(drop=True)

In [33]:
alc_consump_2014 = alc_consump_2014.sort_values('geo').reset_index(drop=True)
alc_consump_2019 = alc_consump_2019.sort_values('geo').reset_index(drop=True)

In [34]:
alc_consump_2014.loc[16] = ['France', 2014, 'NaN']
alc_consump_2014.loc[17] = ['Netherlands', 2014, 'NaN']
alc_consump_2014.loc[18] = ['Switzerland', 2014, 'NaN']
alc_consump_2014 = alc_consump_2014.sort_values('geo').reset_index(drop=True)

In [35]:
alc_consump_2019.loc[17] = ['Finland', 2019, 'NaN']
alc_consump_2019.loc[18] = ['Switzerland', 2019, 'NaN']
alc_consump_2019 = alc_consump_2019.sort_values('geo').reset_index(drop=True)

In [36]:
Data['Alcohol_Consumption_2014'] = alc_consump_2014['OBS_VALUE']
Data['Alcohol_Consumption_2019'] = alc_consump_2019['OBS_VALUE']

In [37]:
cars_by_age_new = pd.read_csv('cars_age.csv', delimiter = ';')
cars_by_age_new

        Country   Age
0       Austria   8.3
1       Belgium   9.1
2       Denmark   8.8
3       Finland  12.2
4        France  10.2
5       Germany   9.6
6        Greece  16.0
7       Iceland  10.2
8       Ireland   8.4
9         Italy  11.4
10   Luxembourg   6.5
11  Netherlands  11.0
12       Norway  10.7
13       Poland  14.1
14     Portugal  12.8
15      Romania  16.5
16        Spain  12.7
17       Sweden  10.0
18  Switzerland   8.6

In [38]:
Data['Avg_car_age_2019'] = cars_by_age_new['Age']

In [39]:
happy.drop(happy.index[happy['Country'] =='Czech Republic'], inplace=True)
happy16 = happy[happy['Year'] == 2016]
happy17 = happy[happy['Year'] == 2017]
happy18 = happy[happy['Year'] == 2018]
happy19 = happy[happy['Year'] == 2019]

In [40]:
happy16 = happy16.sort_values('Country').reset_index(drop=True)
Data['Happy_Index_2016'] = happy16['Overall']
happy17 = happy17.sort_values('Country').reset_index(drop=True)
Data['Happy_Index_2017'] = happy17['Overall']
happy18 = happy18.sort_values('Country').reset_index(drop=True)
Data['Happy_Index_2018'] = happy18['Overall']
happy19 = happy19.sort_values('Country').reset_index(drop=True)
Data['Happy_Index_2019'] = happy19['Overall']

In [41]:
alcohol_limits = pd.read_excel('blood_alcohol.xls')
alcohol_limits = alcohol_limits[alcohol_limits['Year']== 2019]
alcohol_limits.columns

Index(['Year', 'DE - Germany', 'AT - Austria', 'BE - Belgium', 'BG - Bulgaria',
       'CY - Cyprus', 'HR - Croatia', 'DK - Denmark', 'SK - Slovakia',
       'SI - Slovenia', 'ES - Spain', 'EE - Estonia', 'FI - Finland',
       'FR - France', 'GR - Greece', 'HU - Hungary', 'IE - Ireland',
       'IT - Italy', 'LV - Latvia', 'LT - Lithuania', 'LU - Luxembourg',
       'MT - Malta', 'NL - Netherlands', 'PL - Poland', 'PT - Portugal',
       'CZ - Czech Republic', 'RO - Romania', 'SE - Sweden', 'IS - Iceland',
       'NO - Norway', 'CH - Switzerland'],
      dtype='object')

In [42]:
alcohol_limits.columns = ['Year','Germany','Austria','Belgium','Bulgaria','Cyprus','Croatia','Denmark','Slovakia','Slovenia','Spain','Estonia','Finland','France','Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Czech Republic','Romania','Sweden','Iceland','Norway','Switzerland']

In [43]:
alcohol_limits.drop(['Bulgaria','Cyprus','Croatia','Slovakia','Slovenia','Malta','Estonia','Hungary','Latvia','Lithuania','Czech Republic'],axis=1, inplace=True)

In [44]:
alcohol_limits = alcohol_limits.reset_index(drop= False)
alcohol_limits = alcohol_limits.T
#a = alcohol_limits.set_index('Year').T
#alcohol_limits['a'] = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
#alcohol_limits = alcohol_limits.sort_values('Year').reset_index()
alcohol_limits = alcohol_limits.reset_index(drop= False)
alcohol_limits.drop([0,1], axis=0, inplace=True)
alcohol_limits = alcohol_limits.sort_values('index').reset_index(drop=True)

In [45]:
Data['BAC_limit'] = alcohol_limits[0]

In [46]:
gdp = pd.read_csv('nama_10_pc_page_linear.csv', delimiter =';')

In [47]:
gdp = gdp.sort_values('geo').reset_index(drop=True)

In [48]:
Data['GDP_per_capita'] = gdp['OBS_VALUE']

In [49]:
ages = pd.read_excel('minimum_age.xlsx')
Data['Age_to_drive'] = ages['Age']

In [50]:
length_of_motorways = pd.read_excel('Length_of_motorways.xls')

In [51]:
length_of_motorways.drop([0,1,2,3],axis=0,inplace=True)

In [52]:
length_of_motorways = length_of_motorways.reset_index(drop= True)

In [53]:
length_of_motorways

      Unnamed: 0  Unnamed: 1  Unnamed: 2
0        Austria      1445.0      1743.0
1        Belgium      1666.0      1763.0
2        Denmark       611.0      1346.0
3        Finland       225.0       926.0
4         France      6824.0     11671.0
5        Germany     10854.0     13183.0
6         Greece       190.0      2098.0
7        Iceland         NaN         NaN
8        Ireland        26.0       995.0
9          Italy      6193.0      6966.0
10    Luxembourg        78.0       165.0
11   Netherlands      2092.0      2790.0
12        Norway        73.0      1008.0
13        Poland       257.0      1676.0
14      Portugal       316.0      3065.0
15       Romania       113.0       866.0
16         Spain      4976.0     15585.0
17        Sweden       939.0      2133.0
18   Switzerland      1148.0      1462.0

In [54]:
Data['Road_length_1990'] = length_of_motorways['Unnamed: 1']
Data['Road_length_2019'] = length_of_motorways['Unnamed: 2']

In [55]:
Data.columns

Index(['Country', 'Educ_H_2000', 'Educ_H_2001', 'Educ_H_2002', 'Educ_H_2003',
       'Educ_H_2004', 'Educ_H_2005', 'Educ_H_2006', 'Educ_H_2007',
       'Educ_H_2008', 'Educ_H_2009', 'Educ_H_2010', 'Educ_H_2011',
       'Educ_H_2012', 'Educ_H_2013', 'Educ_H_2014', 'Educ_H_2015',
       'Educ_H_2016', 'Educ_H_2017', 'Educ_H_2018', 'Educ_H_2019',
       'R_Mortality_2000', 'R_Mortality_2001', 'R_Mortality_2002',
       'R_Mortality_2003', 'R_Mortality_2004', 'R_Mortality_2005',
       'R_Mortality_2006', 'R_Mortality_2007', 'R_Mortality_2008',
       'R_Mortality_2009', 'R_Mortality_2010', 'R_Mortality_2011',
       'R_Mortality_2012', 'R_Mortality_2013', 'R_Mortality_2014',
       'R_Mortality_2015', 'R_Mortality_2016', 'R_Mortality_2017',
       'R_Mortality_2018', 'R_Mortality_2019', 'AVG_Income_2000',
       'AVG_Income_2001', 'AVG_Income_2002', 'AVG_Income_2003',
       'AVG_Income_2004', 'AVG_Income_2005', 'AVG_Income_2006',
       'AVG_Income_2007', 'AVG_Income_2008', 'AVG_Income_2009',
       'AVG_Income_2010', 'AVG_Income_2011', 'AVG_Income_2012',
       'AVG_Income_2013', 'AVG_Income_2014', 'AVG_Income_2015',
       'AVG_Income_2016', 'AVG_Income_2017', 'AVG_Income_2018',
       'AVG_Income_2019', 'Alcohol_Consumption_2014',
       'Alcohol_Consumption_2019', 'Avg_car_age_2019', 'Happy_Index_2016',
       'Happy_Index_2017', 'Happy_Index_2018', 'Happy_Index_2019', 'BAC_limit',
       'GDP_per_capita', 'Age_to_drive', 'Road_length_1990',
       'Road_length_2019'],
      dtype='object')

In [56]:
road_accidents = pd.read_excel('pordata (8).xlsx')
road_accidents

,Years,Germany,Austria,Belgium,Denmark,Spain,Finland,France,Greece,Ireland,Italy,Luxembourg,Netherlands,Poland,Portugal,Romania,Sweden,Iceland,Norway,Switzerland
0,2000,382949,42126,49065,7346,101729,6633,121223,23001,7749,256546,899,42271,57331,44463,7889,15770,0,0,0
1,2001,375345,43073,47444,6856,100393,6451,116745,19671,6909,263100,772,35313,53798,42521,7528,15796,0,0,0
2,2002,362054,43175,47444,7121,98433,6196,105470,16809,6625,239354,769,33538,53558,42219,7453,16947,0,0,0
3,2003,354534,43423,50479,6749,99987,6907,90220,15751,5984,252271,720,31635,51076,41495,6942,18365,0,0,0
4,2004,339308,42657,48670,6209,94009,6767,85390,15547,5780,243490,716,27758,51068,38930,7335,18029,0,0,0
5,2005,336618,40896,49307,5413,91187,7020,84525,16914,6533,240011,775,27007,48100,37066,19819,18094,0,0,0
6,2006,327984,39884,49171,5403,99779,6740,80309,16190,6018,238124,805,24527,46876,35680,21905,18213,0,0,0
7,2007,335845,41096,43239,5549,100508,6657,81272,15499,5467,230871,954,25819,49536,35311,24661,18548,0,0,0
8,2008,320614,39173,42115,5020,93161,6881,74487,15083,6736,218963,927,23708,49054,33613,29307,18462,0,0,0
9,2009,310667,37925,41944,4174,88251,6414,72315,14789,6615,215430,869,19378,44195,35484,28612,18027,0,0,0
10,2010,288297,35348,46603,3498,85503,6072,67288,15032,5779,212997,876,10778,38832,35426,25995,16627,883,6434,19609
11,2011,306266,35129,89880,3525,83027,6408,65024,13849,5230,205638,962,5134,40069,32541,26647,16274,849,6079,18990
12,2012,299637,40831,51067,3124,83115,5725,60437,12398,5610,188228,1019,4966,37046,29867,26928,16636,742,6153,18148
13,2013,291105,38502,42133,2984,89519,5334,56812,12109,4976,181660,949,9522,35847,30339,24827,14942,822,5241,17473
14,2014,302435,37957,42447,2881,91570,5299,58191,11690,5796,177031,908,13358,34970,30604,25355,13091,808,4972,17803
15,2015,305659,37960,41259,2853,97756,5185,56600,11440,5831,174539,983,18523,32967,31953,28944,14703,912,4563,17736
16,2016,308145,38466,41154,2882,102362,4752,57515,11318,5877,175791,941,18749,33664,32299,30751,14086,986,4195,17577
17,2017,302656,37402,40599,2789,102233,4432,58609,10848,0,174933,955,18706,32760,34416,31106,14951,952,4086,17799
18,2018,308721,36846,41850,2964,102299,4312,108476,10737,0,172553,947,19270,31674,35816,30202,14233,868,3895,18033
19,2019,300143,35736,42122,2808,104080,4002,109051,10712,0,172183,987,19046,30288,37251,31146,13684,770,3580,17761

In [57]:
two_0 = road_accidents[road_accidents['Years'] == 2000].reset_index(drop = False)
two_1 = road_accidents[road_accidents['Years'] == 2001].reset_index(drop = False)
two_2 = road_accidents[road_accidents['Years'] == 2002].reset_index(drop = False)
two_3 = road_accidents[road_accidents['Years'] == 2003].reset_index(drop = False)
two_4 = road_accidents[road_accidents['Years'] == 2004].reset_index(drop = False)
two_5 = road_accidents[road_accidents['Years'] == 2005].reset_index(drop = False)
two_6 = road_accidents[road_accidents['Years'] == 2006].reset_index(drop = False)
two_7 = road_accidents[road_accidents['Years'] == 2007].reset_index(drop = False)
two_8 = road_accidents[road_accidents['Years'] == 2008].reset_index(drop = False)
two_9 = road_accidents[road_accidents['Years'] == 2009].reset_index(drop = False)
two_10 = road_accidents[road_accidents['Years'] == 2010].reset_index(drop = False)
two_11 = road_accidents[road_accidents['Years'] == 2011].reset_index(drop = False)
two_12 = road_accidents[road_accidents['Years'] == 2012].reset_index(drop = False)
two_13 = road_accidents[road_accidents['Years'] == 2013].reset_index(drop = False)
two_14 = road_accidents[road_accidents['Years'] == 2014].reset_index(drop = False)
two_15 = road_accidents[road_accidents['Years'] == 2015].reset_index(drop = False)
two_16 = road_accidents[road_accidents['Years'] == 2016].reset_index(drop = False)
two_17 = road_accidents[road_accidents['Years'] == 2017].reset_index(drop = False)
two_18 = road_accidents[road_accidents['Years'] == 2018].reset_index(drop = False)
two_19 = road_accidents[road_accidents['Years'] == 2019].reset_index(drop = False)
two_0 = two_0.T
two_1 = two_1.T
two_2 = two_2.T
two_3 = two_3.T
two_4 = two_4.T
two_5 = two_5.T
two_6 = two_6.T
two_7 = two_7.T
two_8 = two_8.T
two_9 = two_9.T
two_10 = two_10.T
two_11 = two_11.T
two_12 = two_12.T
two_13 = two_13.T
two_14 = two_14.T
two_15 = two_15.T
two_16 = two_16.T
two_17 = two_17.T
two_18 = two_18.T
two_19 = two_19.T
two_0 = two_0.reset_index(drop= False)
two_1 = two_1.reset_index(drop= False)
two_2 = two_2.reset_index(drop= False)
two_3 = two_3.reset_index(drop= False)
two_4 = two_4.reset_index(drop= False)
two_5 = two_5.reset_index(drop= False)
two_6 = two_6.reset_index(drop= False)
two_7 = two_7.reset_index(drop= False)
two_8 = two_8.reset_index(drop= False)
two_9 = two_9.reset_index(drop= False)
two_10 = two_10.reset_index(drop= False)
two_11 = two_11.reset_index(drop= False)
two_12 = two_12.reset_index(drop= False)
two_13 = two_13.reset_index(drop= False)
two_14 = two_14.reset_index(drop= False)
two_15 = two_15.reset_index(drop= False)
two_16 = two_16.reset_index(drop= False)
two_17 = two_17.reset_index(drop= False)
two_18 = two_18.reset_index(drop= False)
two_19 = two_19.reset_index(drop= False)
two_0.drop([0,1], axis=0, inplace=True)
two_1.drop([0,1], axis=0, inplace=True)
two_2.drop([0,1], axis=0, inplace=True)
two_3.drop([0,1], axis=0, inplace=True)
two_4.drop([0,1], axis=0, inplace=True)
two_5.drop([0,1], axis=0, inplace=True)
two_6.drop([0,1], axis=0, inplace=True)
two_7.drop([0,1], axis=0, inplace=True)
two_8.drop([0,1], axis=0, inplace=True)
two_9.drop([0,1], axis=0, inplace=True)
two_10.drop([0,1], axis=0, inplace=True)
two_11.drop([0,1], axis=0, inplace=True)
two_12.drop([0,1], axis=0, inplace=True)
two_13.drop([0,1], axis=0, inplace=True)
two_14.drop([0,1], axis=0, inplace=True)
two_15.drop([0,1], axis=0, inplace=True)
two_16.drop([0,1], axis=0, inplace=True)
two_17.drop([0,1], axis=0, inplace=True)
two_18.drop([0,1], axis=0, inplace=True)
two_19.drop([0,1], axis=0, inplace=True)
two_0 = two_0.sort_values('index').reset_index(drop=True)
two_1 = two_1.sort_values('index').reset_index(drop=True)
two_2 = two_2.sort_values('index').reset_index(drop=True)
two_3 = two_3.sort_values('index').reset_index(drop=True)
two_4 = two_4.sort_values('index').reset_index(drop=True)
two_5 = two_5.sort_values('index').reset_index(drop=True)
two_6 = two_6.sort_values('index').reset_index(drop=True)
two_7 = two_7.sort_values('index').reset_index(drop=True)
two_8 = two_8.sort_values('index').reset_index(drop=True)
two_9 = two_9.sort_values('index').reset_index(drop=True)
two_10 = two_10.sort_values('index').reset_index(drop=True)
two_11 = two_11.sort_values('index').reset_index(drop=True)
two_12 = two_12.sort_values('index').reset_index(drop=True)
two_13 = two_13.sort_values('index').reset_index(drop=True)
two_14 = two_14.sort_values('index').reset_index(drop=True)
two_15 = two_15.sort_values('index').reset_index(drop=True)
two_16 = two_16.sort_values('index').reset_index(drop=True)
two_17 = two_17.sort_values('index').reset_index(drop=True)
two_18 = two_18.sort_values('index').reset_index(drop=True)
two_19 = two_19.sort_values('index').reset_index(drop=True)
Data['Number_accidents_2000'] = two_0[0]
Data['Number_accidents_2001'] = two_1[0]
Data['Number_accidents_2002'] = two_2[0]
Data['Number_accidents_2003'] = two_3[0]
Data['Number_accidents_2004'] = two_4[0]
Data['Number_accidents_2005'] = two_5[0]
Data['Number_accidents_2006'] = two_6[0]
Data['Number_accidents_2007'] = two_7[0]
Data['Number_accidents_2008'] = two_8[0]
Data['Number_accidents_2009'] = two_9[0]
Data['Number_accidents_2010'] = two_10[0]
Data['Number_accidents_2011'] = two_11[0]
Data['Number_accidents_2012'] = two_12[0]
Data['Number_accidents_2013'] = two_13[0]
Data['Number_accidents_2014'] = two_14[0]
Data['Number_accidents_2015'] = two_15[0]
Data['Number_accidents_2016'] = two_16[0]
Data['Number_accidents_2017'] = two_17[0]
Data['Number_accidents_2018'] = two_18[0]
Data['Number_accidents_2019'] = two_19[0]

In [58]:
Data

,Country,Educ_H_2000,Educ_H_2001,Educ_H_2002,Educ_H_2003,Educ_H_2004,Educ_H_2005,Educ_H_2006,Educ_H_2007,Educ_H_2008,...,Number_accidents_2010,Number_accidents_2011,Number_accidents_2012,Number_accidents_2013,Number_accidents_2014,Number_accidents_2015,Number_accidents_2016,Number_accidents_2017,Number_accidents_2018,Number_accidents_2019
0,Austria,:,:,:,:,15.4,15.0,14.7,14.6,15.0,...,35348,35129,40831,38502,37957,37960,38466,37402,36846,35736
1,Belgium,23.8,24.4,24.9,25.6,26.8,27.2,27.9,28.1,28.4,...,46603,89880,51067,42133,42447,41259,41154,40599,41850,42122
2,Denmark,22.0,24.1,25.1,27.2,27.9,28.5,29.3,26.0,26.0,...,3498,3525,3124,2984,2881,2853,2882,2789,2964,2808
3,Finland,27.1,27.0,26.9,27.5,28.3,28.6,29.0,30.0,30.2,...,6072,6408,5725,5334,5299,5185,4752,4432,4312,4002
4,France,19.8,20.7,21.5,22.2,22.7,23.4,24.0,24.4,24.8,...,67288,65024,60437,56812,58191,56600,57515,58609,108476,109051
5,Germany,21.4,20.0,18.9,20.3,21.1,20.6,20.1,20.4,21.4,...,288297,306266,299637,291105,302435,305659,308145,302656,308721,300143
6,Greece,14.1,14.5,15.2,15.7,17.5,17.6,18.7,19.1,19.8,...,15032,13849,12398,12109,11690,11440,11318,10848,10737,10712
7,Iceland,19.0,19.1,20.6,23.4,23.9,24.9,24.0,24.8,25.5,...,883,849,742,822,808,912,986,952,868,770
8,Ireland,19.2,20.9,22.0,23.5,24.9,26.1,28.1,30.3,31.7,...,5779,5230,5610,4976,5796,5831,5877,0,0,0
9,Italy,8.1,8.3,8.6,9.1,10.0,10.8,11.4,12.0,12.7,...,212997,205638,188228,181660,177031,174539,175791,174933,172553,172183
10,Luxembourg,16.7,16.0,16.2,12.6,20.8,23.0,20.5,22.7,23.7,...,876,962,1019,949,908,983,941,955,947,987
11,Netherlands,20.6,20.8,21.6,23.8,25.7,24.5,24.8,25.5,26.3,...,10778,5134,4966,9522,13358,18523,18749,18706,19270,19046
12,Norway,28.6,30.7,30.2,27.5,28.2,28.4,28.2,29.2,30.2,...,6434,6079,6153,5241,4972,4563,4195,4086,3895,3580
13,Poland,9.2,9.6,10.2,11.6,12.8,13.9,14.9,15.7,16.5,...,38832,40069,37046,35847,34970,32967,33664,32760,31674,30288
14,Portugal,7.5,7.9,8.1,9.4,10.8,11.1,11.7,12.0,12.6,...,35426,32541,29867,30339,30604,31953,32299,34416,35816,37251
15,Romania,7.5,7.9,8.0,7.9,8.7,9.1,9.6,9.9,10.7,...,25995,26647,26928,24827,25355,28944,30751,31106,30202,31146
16,Spain,21.2,22.0,23.0,23.6,24.5,26.1,26.4,26.8,27.0,...,85503,83027,83115,89519,91570,97756,102362,102233,102299,104080
17,Sweden,26.8,22.5,23.2,23.9,24.7,25.9,25.9,26.4,26.9,...,16627,16274,16636,14942,13091,14703,14086,14951,14233,13684
18,Switzerland,20.5,21.4,21.4,22.7,23.7,24.2,25.2,26.5,28.5,...,19609,18990,18148,17473,17803,17736,17577,17799,18033,17761

In [59]:
urban_speed_limits = pd.read_csv('speed_urban_roads.csv',delimiter =';')
urban_speed_limits

,year,Germany,Austria,Belgium,Denmark,Spain,Finland,France,Greece,Ireland,Italy,Luxembourg,Netherlands,Poland,Portugal,Romania,Sweden,Iceland,Norway,Switzerland
0,2009,50,50,50,50,50,50,50,50,50,50,50,70,60,50,50,50,50,70,50
1,2010,50,50,50,50,50,50,50,50,50,50,50,70,60,50,50,50,50,70,50
2,2011,50,50,50,50,50,50,50,50,50,50,50,70,60,50,50,50,50,70,50
3,2012,50,50,50,50,50,50,50,50,50,50,50,70,60,50,50,50,50,70,50
4,2013,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
5,2014,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
6,2015,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
7,2016,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
8,2017,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
9,2018,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
10,2019,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
11,2020,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50
12,2021,50,50,50,50,50,50,50,50,50,50,50,50,60,50,50,50,50,50,50

In [60]:
two_09 = urban_speed_limits[urban_speed_limits['year'] == 2009].reset_index(drop=False)
two_19 = urban_speed_limits[urban_speed_limits['year'] == 2019].reset_index(drop=False)
two_09 = two_09.T
two_19 = two_19.T
two_09 = two_09.reset_index(drop= False)
two_19 = two_19.reset_index(drop= False)
two_09.drop([0,1], axis=0, inplace=True)
two_19.drop([0,1], axis=0, inplace=True)
two_09 = two_09.sort_values('index').reset_index(drop=True)
two_19 = two_19.sort_values('index').reset_index(drop=True)
Data['Urban_speed_limits_2009'] = two_09[0]
Data['Urban_speed_limits_2019'] = two_19[0]

In [61]:
motorways_speed_limits = pd.read_excel('speed_motorways.xls')
motorways_speed_limits

,year,Germany,Austria,Belgium,Denmark,Spain,Finland,France,Greece,Ireland,Italy,Luxembourg,Netherlands,Poland,Portugal,Romania,Sweden,Iceland,Norway,Switzerland
0,2009,130,130,120,130,120,120,130,130,120,150,130,120,130,120,130,120,0,100,120
1,2010,130,130,120,130,120,120,130,130,120,150,130,120,130,120,130,120,0,100,120
2,2011,130,130,120,130,120,120,130,130,120,130,130,120,130,120,130,120,0,100,120
3,2012,130,130,120,130,120,120,130,130,120,130,130,120,130,120,130,120,0,100,120
4,2013,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
5,2014,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
6,2015,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
7,2016,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
8,2017,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
9,2018,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
10,2019,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
11,2020,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120
12,2021,130,130,120,130,120,120,130,130,120,130,130,130,140,120,130,110,0,100,120

In [62]:
two_09 = motorways_speed_limits[urban_speed_limits['year'] == 2009].reset_index(drop=False)
two_19 = motorways_speed_limits[urban_speed_limits['year'] == 2019].reset_index(drop=False)
two_09 = two_09.T
two_19 = two_19.T
two_09 = two_09.reset_index(drop= False)
two_19 = two_19.reset_index(drop= False)
two_09.drop([0,1], axis=0, inplace=True)
two_19.drop([0,1], axis=0, inplace=True)
two_09 = two_09.sort_values('index').reset_index(drop=True)
two_19 = two_19.sort_values('index').reset_index(drop=True)
Data['Motorway_speed_limits_2009'] = two_09[0]
Data['Motorway_speed_limits_2019'] = two_19[0]

In [63]:
Data

,Country,Educ_H_2000,Educ_H_2001,Educ_H_2002,Educ_H_2003,Educ_H_2004,Educ_H_2005,Educ_H_2006,Educ_H_2007,Educ_H_2008,...,Number_accidents_2014,Number_accidents_2015,Number_accidents_2016,Number_accidents_2017,Number_accidents_2018,Number_accidents_2019,Urban_speed_limits_2009,Urban_speed_limits_2019,Motorway_speed_limits_2009,Motorway_speed_limits_2019
0,Austria,:,:,:,:,15.4,15.0,14.7,14.6,15.0,...,37957,37960,38466,37402,36846,35736,50,50,130,130
1,Belgium,23.8,24.4,24.9,25.6,26.8,27.2,27.9,28.1,28.4,...,42447,41259,41154,40599,41850,42122,50,50,120,120
2,Denmark,22.0,24.1,25.1,27.2,27.9,28.5,29.3,26.0,26.0,...,2881,2853,2882,2789,2964,2808,50,50,130,130
3,Finland,27.1,27.0,26.9,27.5,28.3,28.6,29.0,30.0,30.2,...,5299,5185,4752,4432,4312,4002,50,50,120,120
4,France,19.8,20.7,21.5,22.2,22.7,23.4,24.0,24.4,24.8,...,58191,56600,57515,58609,108476,109051,50,50,130,130
5,Germany,21.4,20.0,18.9,20.3,21.1,20.6,20.1,20.4,21.4,...,302435,305659,308145,302656,308721,300143,50,50,130,130
6,Greece,14.1,14.5,15.2,15.7,17.5,17.6,18.7,19.1,19.8,...,11690,11440,11318,10848,10737,10712,50,50,130,130
7,Iceland,19.0,19.1,20.6,23.4,23.9,24.9,24.0,24.8,25.5,...,808,912,986,952,868,770,50,50,0,0
8,Ireland,19.2,20.9,22.0,23.5,24.9,26.1,28.1,30.3,31.7,...,5796,5831,5877,0,0,0,50,50,120,120
9,Italy,8.1,8.3,8.6,9.1,10.0,10.8,11.4,12.0,12.7,...,177031,174539,175791,174933,172553,172183,50,50,150,130
10,Luxembourg,16.7,16.0,16.2,12.6,20.8,23.0,20.5,22.7,23.7,...,908,983,941,955,947,987,50,50,130,130
11,Netherlands,20.6,20.8,21.6,23.8,25.7,24.5,24.8,25.5,26.3,...,13358,18523,18749,18706,19270,19046,70,50,120,130
12,Norway,28.6,30.7,30.2,27.5,28.2,28.4,28.2,29.2,30.2,...,4972,4563,4195,4086,3895,3580,70,50,100,100
13,Poland,9.2,9.6,10.2,11.6,12.8,13.9,14.9,15.7,16.5,...,34970,32967,33664,32760,31674,30288,60,60,130,140
14,Portugal,7.5,7.9,8.1,9.4,10.8,11.1,11.7,12.0,12.6,...,30604,31953,32299,34416,35816,37251,50,50,120,120
15,Romania,7.5,7.9,8.0,7.9,8.7,9.1,9.6,9.9,10.7,...,25355,28944,30751,31106,30202,31146,50,50,130,130
16,Spain,21.2,22.0,23.0,23.6,24.5,26.1,26.4,26.8,27.0,...,91570,97756,102362,102233,102299,104080,50,50,120,120
17,Sweden,26.8,22.5,23.2,23.9,24.7,25.9,25.9,26.4,26.9,...,13091,14703,14086,14951,14233,13684,50,50,120,110
18,Switzerland,20.5,21.4,21.4,22.7,23.7,24.2,25.2,26.5,28.5,...,17803,17736,17577,17799,18033,17761,50,50,120,120

In [64]:
gdp_pps = pd.read_csv('tec00114_page_spreadsheet.csv', delimiter=';')
gdp_pps

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Austria,128,129,133,133,132,131,130,127,128,126,124,120
1,Belgium,121,119,121,121,121,121,120,118,118,118,118,121
2,Denmark,131,129,128,130,129,128,128,130,129,127,134,134
3,Finland,118,119,117,115,113,111,111,111,111,109,114,113
4,France,109,109,108,110,108,107,106,104,104,106,105,105
5,Germany,121,124,124,125,127,124,125,124,124,121,122,119
6,Greece,85,75,71,72,72,70,68,67,66,66,62,65
7,Iceland,121,119,120,123,124,129,132,130,128,126,119,119
8,Ireland,131,131,133,133,138,181,176,182,190,190,209,220
9,Italy,106,105,104,101,98,97,99,98,97,96,94,95
10,Luxembourg,274,274,277,279,283,282,278,269,262,254,263,277
11,Netherlands,137,135,136,137,133,131,129,129,129,128,132,132
12,Norway,176,180,187,186,178,158,145,150,156,145,140,163
13,Poland,63,66,67,67,68,69,69,70,71,73,76,77
14,Portugal,83,78,76,77,77,78,78,77,78,79,76,74
15,Romania,52,52,54,55,56,56,60,64,66,69,72,73
16,Spain,96,93,91,90,90,91,92,93,91,91,84,84
17,Sweden,128,130,130,128,127,128,124,122,120,119,124,124
18,Switzerland,166,169,172,173,173,173,168,162,160,156,160,159

In [65]:
Data['GDP_PPS_2010'] = gdp_pps['2010']
Data['GDP_PPS_2011'] = gdp_pps['2011']
Data['GDP_PPS_2012'] = gdp_pps['2012']
Data['GDP_PPS_2013'] = gdp_pps['2013']
Data['GDP_PPS_2014'] = gdp_pps['2014']
Data['GDP_PPS_2015'] = gdp_pps['2015']
Data['GDP_PPS_2016'] = gdp_pps['2016']
Data['GDP_PPS_2017'] = gdp_pps['2017']
Data['GDP_PPS_2018'] = gdp_pps['2018']
Data['GDP_PPS_2019'] = gdp_pps['2019']

/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2013'] = gdp_pps['2013']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2014'] = gdp_pps['2014']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2015'] = gdp_pps['2015']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2016'] = gdp_pps['2016']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2017'] = gdp_pps['2017']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2018'] = gdp_pps['2018']
/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_5164/2329274268.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Data['GDP_PPS_2019'] = gdp_pps['2019']

In [66]:
Data

,Country,Educ_H_2000,Educ_H_2001,Educ_H_2002,Educ_H_2003,Educ_H_2004,Educ_H_2005,Educ_H_2006,Educ_H_2007,Educ_H_2008,...,GDP_PPS_2010,GDP_PPS_2011,GDP_PPS_2012,GDP_PPS_2013,GDP_PPS_2014,GDP_PPS_2015,GDP_PPS_2016,GDP_PPS_2017,GDP_PPS_2018,GDP_PPS_2019
0,Austria,:,:,:,:,15.4,15.0,14.7,14.6,15.0,...,128,129,133,133,132,131,130,127,128,126
1,Belgium,23.8,24.4,24.9,25.6,26.8,27.2,27.9,28.1,28.4,...,121,119,121,121,121,121,120,118,118,118
2,Denmark,22.0,24.1,25.1,27.2,27.9,28.5,29.3,26.0,26.0,...,131,129,128,130,129,128,128,130,129,127
3,Finland,27.1,27.0,26.9,27.5,28.3,28.6,29.0,30.0,30.2,...,118,119,117,115,113,111,111,111,111,109
4,France,19.8,20.7,21.5,22.2,22.7,23.4,24.0,24.4,24.8,...,109,109,108,110,108,107,106,104,104,106
5,Germany,21.4,20.0,18.9,20.3,21.1,20.6,20.1,20.4,21.4,...,121,124,124,125,127,124,125,124,124,121
6,Greece,14.1,14.5,15.2,15.7,17.5,17.6,18.7,19.1,19.8,...,85,75,71,72,72,70,68,67,66,66
7,Iceland,19.0,19.1,20.6,23.4,23.9,24.9,24.0,24.8,25.5,...,121,119,120,123,124,129,132,130,128,126
8,Ireland,19.2,20.9,22.0,23.5,24.9,26.1,28.1,30.3,31.7,...,131,131,133,133,138,181,176,182,190,190
9,Italy,8.1,8.3,8.6,9.1,10.0,10.8,11.4,12.0,12.7,...,106,105,104,101,98,97,99,98,97,96
10,Luxembourg,16.7,16.0,16.2,12.6,20.8,23.0,20.5,22.7,23.7,...,274,274,277,279,283,282,278,269,262,254
11,Netherlands,20.6,20.8,21.6,23.8,25.7,24.5,24.8,25.5,26.3,...,137,135,136,137,133,131,129,129,129,128
12,Norway,28.6,30.7,30.2,27.5,28.2,28.4,28.2,29.2,30.2,...,176,180,187,186,178,158,145,150,156,145
13,Poland,9.2,9.6,10.2,11.6,12.8,13.9,14.9,15.7,16.5,...,63,66,67,67,68,69,69,70,71,73
14,Portugal,7.5,7.9,8.1,9.4,10.8,11.1,11.7,12.0,12.6,...,83,78,76,77,77,78,78,77,78,79
15,Romania,7.5,7.9,8.0,7.9,8.7,9.1,9.6,9.9,10.7,...,52,52,54,55,56,56,60,64,66,69
16,Spain,21.2,22.0,23.0,23.6,24.5,26.1,26.4,26.8,27.0,...,96,93,91,90,90,91,92,93,91,91
17,Sweden,26.8,22.5,23.2,23.9,24.7,25.9,25.9,26.4,26.9,...,128,130,130,128,127,128,124,122,120,119
18,Switzerland,20.5,21.4,21.4,22.7,23.7,24.2,25.2,26.5,28.5,...,166,169,172,173,173,173,168,162,160,156

In [67]:
for x in Data.columns:
    print(x)

Country
Educ_H_2000
Educ_H_2001
Educ_H_2002
Educ_H_2003
Educ_H_2004
Educ_H_2005
Educ_H_2006
Educ_H_2007
Educ_H_2008
Educ_H_2009
Educ_H_2010
Educ_H_2011
Educ_H_2012
Educ_H_2013
Educ_H_2014
Educ_H_2015
Educ_H_2016
Educ_H_2017
Educ_H_2018
Educ_H_2019
R_Mortality_2000
R_Mortality_2001
R_Mortality_2002
R_Mortality_2003
R_Mortality_2004
R_Mortality_2005
R_Mortality_2006
R_Mortality_2007
R_Mortality_2008
R_Mortality_2009
R_Mortality_2010
R_Mortality_2011
R_Mortality_2012
R_Mortality_2013
R_Mortality_2014
R_Mortality_2015
R_Mortality_2016
R_Mortality_2017
R_Mortality_2018
R_Mortality_2019
AVG_Income_2000
AVG_Income_2001
AVG_Income_2002
AVG_Income_2003
AVG_Income_2004
AVG_Income_2005
AVG_Income_2006
AVG_Income_2007
AVG_Income_2008
AVG_Income_2009
AVG_Income_2010
AVG_Income_2011
AVG_Income_2012
AVG_Income_2013
AVG_Income_2014
AVG_Income_2015
AVG_Income_2016
AVG_Income_2017
AVG_Income_2018
AVG_Income_2019
Alcohol_Consumption_2014
Alcohol_Consumption_2019
Avg_car_age_2019
Happy_Index_2016
Happy_Index_2017
Happy_Index_2018
Happy_Index_2019
BAC_limit
GDP_per_capita
Age_to_drive
Road_length_1990
Road_length_2019
Number_accidents_2000
Number_accidents_2001
Number_accidents_2002
Number_accidents_2003
Number_accidents_2004
Number_accidents_2005
Number_accidents_2006
Number_accidents_2007
Number_accidents_2008
Number_accidents_2009
Number_accidents_2010
Number_accidents_2011
Number_accidents_2012
Number_accidents_2013
Number_accidents_2014
Number_accidents_2015
Number_accidents_2016
Number_accidents_2017
Number_accidents_2018
Number_accidents_2019
Urban_speed_limits_2009
Urban_speed_limits_2019
Motorway_speed_limits_2009
Motorway_speed_limits_2019
GDP_PPS_2010
GDP_PPS_2011
GDP_PPS_2012
GDP_PPS_2013
GDP_PPS_2014
GDP_PPS_2015
GDP_PPS_2016
GDP_PPS_2017
GDP_PPS_2018
GDP_PPS_2019

In [68]:
Data = Data.drop('GDP_per_capita', axis=1)

In [69]:
Data.to_sql('Final_data', engine, if_exists='replace', index = False)

19